.pagination{
    li{
        margin-right: 10px;
        color: #fff;
        background-color: #a9a9a9;
       padding:5px 15px;
       border-radius:2px;

    }
    .active{
        background-color: #0d6efd;
    }
}